# Data Wrangling Template

## Gather

In [2]:
import zipfile
import pandas as pd

In [3]:
with zipfile.ZipFile('armenian-online-job-postings.zip','r') as myzip:
    myzip.extractall()

In [4]:
# Read CSV (comma-separated) file into DataFrame
df = pd.read_csv('online-job-postings.csv')

## Assess

In [ ]:
df

In [5]:
# Display a basic summary of the DataFrame using .info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15110 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9623 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [12]:
# Display the first five rows of the DataFrame using .head
df.head()

2012    2149
2015    2009
2013    2009
2014    1983
2008    1785
2011    1697
2007    1538
2010    1511
2009    1191
2005    1138
2006    1116
2004     875
Name: Year, dtype: int64

In [ ]:
# Display the entry counts for the Year column using .value_counts
df['Year'].value_counts()

1) Missing Values (NaN)

2) StartDate Inconsistencies (ASAP)

3) Fix non descriptive column names (ApplicationP, AboutC, RequiredQual etc.)

## Clean

#### Define
- Select All records in the StartDate column that have "As soon as possible" , "Immediately" , etc and replace the text in those celss with "ASAP"

- Select all non descriptive and misspelled column headers (ApplicationP, RequiredQual, AboutC, JobRequirment) and replace them with full words (ApplicationProcedure, RequiredQualification, AboutCompany, JobRequirement)

#### Code

In [13]:
df_clean = df.copy()

•Select all non descriptive and misspelled column headers (ApplicationP, RequiredQual, AboutC, JobRequirment) and replace them with full words (ApplicationProcedure, RequiredQualification, AboutCompany, JobRequirements)

In [15]:
df_clean = df_clean.rename(columns={'ApplicationP': 'ApplicationProcedure',
                                    'RequiredQual': 'RequiredQualification',
                                    'AboutC':'AboutCompany',
                                    'JobRequirment':'JobRequirements'})

•Select All records in the StartDate column that have "As soon as possible" , "Immediately" , etc and replace the text in those celss with "ASAP"

In [20]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

for phrase in asap_list:
    df_clean.StartDate.replace( phrase,"ASAP", inplace=True)

#### Test

In [21]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost                  19001 non-null object
date                     19001 non-null object
Title                    18973 non-null object
Company                  18994 non-null object
AnnouncementCode         1208 non-null object
Term                     7676 non-null object
Eligibility              4930 non-null object
Audience                 640 non-null object
StartDate                9675 non-null object
Duration                 10798 non-null object
Location                 18969 non-null object
JobDescription           15110 non-null object
JobRequirement           16479 non-null object
RequiredQualification    18517 non-null object
Salary                   9623 non-null object
ApplicationProcedure     18941 non-null object
OpeningDate              18295 non-null object
Deadline                 18936 non-null object
Notes                    2211 non-null object
AboutCompany             12470 non-null object
Attach                   1559 non-null object
Year                     19001 non-null int64
Month                    19001 non-null int64
IT                       19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

In [23]:
df_clean.StartDate.value_counts()

ASAP                                                                                                                        6856
01 September 2012                                                                                                             31
March 2006                                                                                                                    27
November 2006                                                                                                                 22
January 2010                                                                                                                  19
February 2014                                                                                                                 17
01 February 2005                                                                                                              17
TBD                                                                                                                           16
February 2011                                                                                                                 16
September 2010                                                                                                                16
September 2008                                                                                                                15
March 2011                                                                                                                    15
February 2007                                                                                                                 14
01 July 2014                                                                                                                  14
01 February 2015                                                                                                              14
01 September 2010                                                                                                             13
January 2016                                                                                                                  13
01 March 2006                                                                                                                 13
01 September 2008                                                                                                             13
01 October 2008                                                                                                               12
01 April 2014                                                                                                                 12
Fall 2010                                                                                                                     12
September 2013                                                                                                                12
01 October 2012                                                                                                               12
01 March 2012                                                                                                                 12
June 2008                                                                                                                     12
01 April 2012                                                                                                                 11
February 2008                                                                                                                 11
01 February 2012                                                                                                              11
01 April 2009                                                                                                                 11
                                                                                                                            ...
12 August 2013                                                                                                                 1
Approximately 15 February 2012                                                                                                 1
01 May  2012                                                                                                                   1
Spring 2012                                                                                                                    1
November, 2006                                                                                                                 1
The course is planned in the first half of October;\r\nthe exact dates will be announced in July 2008.                         1
17 September 2005                                                                                                              1
03 October 2011                                                                                                                1
January-February 2008                                                                                                          1
First contract will be concluded for up to 3 months,\r\nand then the successful candidate will be hired for longer term.       1
17 June 2013                                                                                                                   1
Fall 2005                                                                                                                      1
07 February 2005                                                                                                               1
28 November 2007                                                                                                               1
10 January 2014                                                                                                                1
10 February 2005                                                                                                               1
August 2014                                                                                                                    1
04 April 2011                                                                                                                  1
23 October 2006, 13:00 p.m.                                                                                                    1
14 October 2005, 13:00 p.m.                                                                                                    1
Latest  March 2009                                                                                                             1
August 15th                                                                                                                    1
15 October 2007                                                                                                                1
02 July 2007                                                                                                                   1
01 July 2007                                                                                                                   1
08 October 2012                                                                                                                1
18 December 2013                                                                                                               1
Mid-August, 2004                                                                                                               1
25 November 2004                                                                                                               1
16 October 2009, 19:00                                                                                                         1
Name: StartDate, dtype: int64

In [24]:
for phrase in asap_list:
    assert phrase not in df_clean.StartDate.values